*{
    margin: 0;
    padding: 0;
}
.about-section{
    height: 100vh;
    background-color: rgb(207, 207, 207);
    text-align: center;
   
}
.info-about{
    padding-top: 100px;
    font-size: 30px;
  
    
}
.info-about p{
    margin-top: 50px;
}
.info-about h1{
    text-decoration: underline;
}
