*{
    margin: 0;
    padding: 0;
}
header{
display: flex;
justify-content: space-around;
background-color: rgb(0, 132, 255);


}
.nav-left img{
height: 50px;
width: 50px;
border-radius: 50%;
border: 1px solid rgb(255, 255, 255);

}
.nav-right li{
   display:inline-block;
     margin-top: 19px;
  
   
}
.nav-right li a:hover{
    color: red;
    
}
.nav-right li a{
    text-decoration: none;
    color: white;
    padding: 20px;
  
}