*{
    margin: 0;
    padding: 0;
}
.service-section h1{
    text-align: center;

}
.service-section{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 1cm;
    margin-top: 70px;
}
.skill-card{
    border: 10px solid black;
    height: 400px;
    width: 300px;
    text-align: center;
    padding: 10px;
    /* box-sizing: border-box; */
    border-radius: 20%;
    border-top: none;
    border-bottom: none;
    box-shadow: 10px 20px 5px #000000;
    

   
}
.our-services h1{
    text-align: center;
    text-decoration: underline;
    margin-top: 100px;
    
}